@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
}

<!-- Page Content -->
<div class="uvod">
    <div class="content-wrapper">
        <div class="col-md-8">
            <h1 class="main-title">INTRODUCTION</h1>
            <h2 class="subtitle">Welcome to my website.</h2>
            <span id="dynamic-text" class="dynamic-text"></span>
        </div>
        <div class="col-md-4">
            <div class="profile-image-container">
                <img class="profile-image" src="/media/v1anlghf/20150826_124350.jpg" alt="Peter Glózik">
            </div>
        </div>
    </div>
    <video autoplay muted loop playsinline>
        <source src="~/Styles/video/pozadie_uvod.mp4" type="video/mp4">
    </video>
</div>
