@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    string videoUrl = Umbraco.Media(Udi.Parse(Model.MacroParameters["localVideoMedia"].ToString())).Url();
}



@*<div class="course-video-container">
        <video src="@videoUrl" controls></video>
    </div>*@
<video autoplay muted loop playsinline>
    <source src="/Styles/video/uvod_pozadie.mp4" type="video/mp4">
</video>